.body {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(56, 56, 56);
    min-height: 85vh;
    padding: 3%;
}

.titre {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}