* {
    margin: 0;
}

.img-fluid {
    width: 230px;
    border-radius: 5px;
    margin-left: 60px
}

.container {
    margin: 0 auto;
    width: 75%;
}

.d-left {
    float: left;
    width: 50%;

}

.d-right {
    float: right;
    width: 50%;
}